* {
		padding:0;
		margin:0;
		-webkit-box-sizing: border-box;
		-moz-box-sizing: border-box;
}

/**[class*="col-"] {
    float: left;
    padding: 15px;
}

.col-1 {width: 8.33%;}
.col-2 {width: 16.66%;}
.col-3 {width: 25%;}
.col-4 {width: 33.33%;}
.col-5 {width: 41.66%;}
.col-6 {width: 50%;}
.col-7 {width: 58.33%;}
.col-8 {width: 66.66%;}
.col-9 {width: 75%;}
.col-10 {width: 83.33%;}
.col-11 {width: 91.66%;}
.col-12 {width: 100%;}
**/

.editable_box {
width:100%;
max-width: 800px;
min-width: 499px;
background-color: #fff;
margin:auto;
}



#editable_box_widget_edit {

}


.editable_group {

background-color: fff;
border: 2px solid #cfd3da;
border-radius: 3px;

margin-bottom: 15px;

}



h3{

display:block;
height: 50px;
font-family: Arial;
font-size: 18px;
color: #333333;
margin:0;
padding:15px 15px;
border-radius: 3px 3px 0px 0px;
background-color: #cfd3da;
}

.editable {
	background-color:#fff;
	padding-top: 5px;
	padding-bottom: 10px;
	line-height: 2.5;
				
} 

label{
	font-family: Arial;
	font-size: 14px;
	color: #333333;
	padding-bottom: 5px;
	margin-left: 25px;
	margin-right: 25px;	
		
}

/**Data Source section**/

.input_field_data_source{
	display:flex;
	height: 30px;
	width:auto;
	margin-left:25px;
	margin-right: 25px;
			
}

#datasource {
	width:100%;
	height: 30px;
	line-height: 30px;
	border-radius:5px 0px 0px 5px; 
	border: 2px solid #cfd3da;
	font-size: 13px;
	font-family: Arial;
	color:#8e8a8a;
	
}

.search {
	width:available;
	height:30px;
	line-height: 40px;
	object-fit:contain;
	display:inline-block;	
	vertical-align:middle;	
	margin-left:0;
	padding-left: 7px;
	padding-right: 7px; 
	background-color: #cfd3da;
	border-radius: 0px 5px 5px 0px; 
	border-left:0;
	cursor: pointer;
}

/**end of Data Source Section**/

/**Setup section**/


.input_field_input, .input_field_select {
	display:flex;
	width:auto;
	margin-left:25px;
	margin-right: 25px;
	
	
}

div.input_field_input > input[type="text"] {
	width: 100%;
	border-radius: 3px;
	margin-right: 10px;
	height: 37px;
	border:2px solid #cfd3da;
}

 
select {
	width:100%;
	-moz-appearance: none;
	-webkit-appearance: none;
	appearance: none;
	background: #cfd3da url(caret-down.png) no-repeat 99% 50%;
	cursor: pointer;
}
input[type="text"], select {
	
	height:37px;
	padding:5px;
	vertical-align:middle;
	background-color: #fff;
	border: 2px solid #cfd3da;
	font-family:Arial;
	font-size: 13px;
	color: #8e8a8a;
	border-radius: 3px;
	
}

.editable button {

 	background-color: #58647c;

	background-image: -webkit-gradient(linear, left top, left bottom, from(#69758d), to(#58647c));

 	background-image: -webkit-linear-gradient(top, #69758d, #58647c);
 	
	background-image: -moz-linear-gradient(top, #69758d, #58647c);
 	
	background-image: -ms-linear-gradient(top, #69758d, #58647c);
 	
	background-image: -o-linear-gradient(top, #69758d, #58647c);
 	
	background-image: linear-gradient(to bottom, #69758d, #58647c);
		
	filter:progid:DXImageTransform.Microsoft.gradient(GradientType=0,startColorstr=#69758d, endColorstr=#58647c);
	
	color:white;
	
	display:inline-block;
	
	vertical-align:middle;
	
	line-height:16px;
	
	font-size:13px;
	
	font-weight: normal;
	
	text-decoration: none;
	
	padding: 5px 25px;
	
	border:0;
	
	margin:0 2px;
	
	-webkit-border-radius: 3px;
	
	-moz-border-radius: 3px;
	
	border-radius: 3px;
	
	cursor:pointer;
	
	white-space: nowrap;

}

.editable button:hover  {
	
	background: #69758d;


}

/**Customize section**/

/**Add here columns**/

.grid-container {
	display: grid;
  grid-template-columns: 1fr 1fr;
	grid-gap:10px;
	background-color: #fff;
	margin-left: 25px;
	margin-right: 25px;
}
.grid-item {
	width:100%;
	margin-right: 0;
		
}

	
.input_field_widgetwidth {
	display: flex;
	}

.line_of_2 input[type="text"]{
	
	width:100%;
	margin-left: 0px;
	margin-right: 0px;
	}

.line_of_2 .input_field_select {
	width:100%;
	margin-left: 0;
	margin-right: 0;
	}
	
	.line_of_2 label {
		margin:0;
	}

	




